
*{
    border: dotted;

}

body {
    /* font-family:  Comfortaa, Helvetica, Arial, sans-serif; */
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 1em;
}
/*
@media screen and (max-width:600px) ---- syntaxe d'une media Query pour adapter la page
*/

h1 {
    color: rgb(28, 37, 28); text-align: center;
}
h2 {
    color: darkviolet;
}
.violet {
    color: darkviolet;
}
.section_gauche {
    min-width: 30%; width: 30%; height: auto; position: fixed; left: 5%; margin: 0rem;
}
.section_principale {
    width: 60%; height: auto; position: absolute; left: 38%; right: 5%;
}

a, a:visited {
 color: darkslategrey;   
}
a:hover, a:active {
    color: darkviolet;
}
.portrait {
  width:50%; height:50%; padding: 2.5%;
}
.ico {
    min-width: 5px;
    min-height: 5px;
    width: 45%; 
    height: 45%; 
    display: block;
    margin-left: 50%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
